.hero{
    height:450px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
    color:white;
}

.hero-content{
    text-align:center;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.btn{
    background:#ff9900;
    color:white;
    padding:15px 30px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.secondary{
    background:white;
    color:#111;
}